{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/a076d05399.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row bg">
            <div class="col md-12 pt-5">
                <div class=" d-flex justify-content-center align-self-center">
                        <h2 class="text-warning mmnhead">Update DaTa</h2>
                </div>
                <div class="p-5 d-flex  justify-content-center align-self-center">
                    
                    <form method="POST" class=" justify-content-center align-self-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" name='SL_NO' type="number"  placeholder="{{data.SL_NO}}" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="ITEM_NAME" placeholder="{{data.ITEM_NAME}}" type="text"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="DESCRIPTION" placeholder="{{data.DESCRIPTION}}"  type="text"/>
                        </div>
                        <button class="btn btn-lg btn-success mt-5" style="margin-left: 70px">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
